* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Amsterdam';
  src: url("../fonts/Amsterdam-ZVGqm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Roboto', sans-serif  !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  overflow-x: hidden;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #e3e3e3 100%);
}

html #navbar1, body #navbar1 {
  background-color: transparent;
  color: black;
  z-index: 100;
}

html #navbar1 .logo-img, body #navbar1 .logo-img {
  height: 70px;
}

html #navbar1.sticky, body #navbar1.sticky {
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  width: 100%;
  background-color: #416969;
  color: white;
}

html #navbar1.sticky a, body #navbar1.sticky a {
  color: white !important;
}

html .addpd, body .addpd {
  margin-top: 300px;
}

html section .sheading, body section .sheading {
  text-align: center;
  padding: 0.4rem 7rem;
  font-weight: 600;
  margin: auto;
  margin-bottom: 2rem;
  color: #416969;
  border-bottom: 2px solid #416969;
  width: fit-content;
  text-transform: capitalize;
}

html section .sheading h1, body section .sheading h1 {
  margin: 0px;
  font-family: "Abril Fatface", cursive !important;
}

html section .sheading.brown, body section .sheading.brown {
  color: #694F40;
  border-color: #694F40;
}

html .section1, body .section1 {
  padding: 0rem;
  position: relative;
  background: #e2dacf;
  background: linear-gradient(90deg, #e2dacf 0%, white 50%, #dfd7ca 100%);
}

html .section1 .bg2, body .section1 .bg2 {
  position: absolute;
  height: 150px;
  z-index: 1;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #e3e3e3 100%);
  width: 100%;
}

html .section1 .row-div, body .section1 .row-div {
  background-repeat: no-repeat;
  background-position-x: 24%;
  padding: 7rem 0rem 13rem;
  z-index: 2;
  background-position-y: 25%;
  z-index: 12;
}

html .section1 .row-div .wrapper, body .section1 .row-div .wrapper {
  text-align: center;
}

html .section1 .row-div .wrapper h1, body .section1 .row-div .wrapper h1 {
  color: #416969;
  font-family: 'Abril Fatface', cursive !important;
  font-family: 'Great Vibes', cursive !important;
  font-weight: bold;
  font-size: 60px;
  text-transform: capitalize;
}

html .section1 .row-div .wrapper p, body .section1 .row-div .wrapper p {
  font-size: 20px;
  padding: 1rem 0rem 2rem 0rem;
}

html .section1 .row-div .wrapper .booking-btn, body .section1 .row-div .wrapper .booking-btn {
  background-color: #416969;
  color: white;
}

html .section1 .row-div .ils1, body .section1 .row-div .ils1 {
  position: absolute;
  z-index: 2;
  top: -6rem;
  left: 0rem;
  transform: translate(-50%, 50%);
  width: 14rem;
  opacity: 0.7;
}

html .section1 .row-div .ils2, body .section1 .row-div .ils2 {
  position: absolute;
  top: -4rem;
  z-index: 2;
  right: -9rem;
  transform: translate(-50%, 50%);
  width: 14rem;
  opacity: 0.4;
}

html .section2, body .section2 {
  background: #e2dacf;
  position: relative;
  padding: 3rem;
  padding-top: 3rem;
}

html .section2 .ils1, body .section2 .ils1 {
  position: absolute;
  z-index: 2;
  top: -6rem;
  left: 0rem;
  transform: translate(-50%, 50%);
  width: 14rem;
  opacity: 0.3;
}

html .section2 .ils2, body .section2 .ils2 {
  position: absolute;
  bottom: -2rem;
  z-index: 2;
  right: 0;
  transform: translate(50%, -50%);
  width: 14rem;
  opacity: 0.4;
}

html .section2 .clientFlex, body .section2 .clientFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

html .section2 .clientFlex .name, body .section2 .clientFlex .name {
  font-size: 36px;
  margin-bottom: .5rem;
  font-weight: 600;
}

html .section2 .clientFlex p, body .section2 .clientFlex p {
  font-size: 17px;
  max-width: 400px;
}

html .section2 .clientFlex img, body .section2 .clientFlex img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 3px 5px 11px -2px #817f7f;
}

html .section2 .heading, body .section2 .heading {
  text-align: center;
  padding: 0.4rem 10rem;
  margin: auto;
  color: white;
  background-color: #416969;
  width: fit-content;
  border-radius: 2rem;
}

html .section2 .heading h1, body .section2 .heading h1 {
  margin: 0px;
}

html .section3, body .section3 {
  padding: 0rem;
  position: relative;
  padding-bottom: 1rem;
  background: #e2dacf;
}

html .section3 .subsection, body .section3 .subsection {
  padding-bottom: 3rem;
  position: relative;
}

html .section3 .subsection .heading, body .section3 .subsection .heading {
  margin-bottom: 3rem;
  letter-spacing: 5px;
  padding-top: 1rem;
  font-size: 50px;
  font-family: "Abril Fatface", cursive !important;
  z-index: 3;
  color: #416969;
}

html .section3 .subsection img, body .section3 .subsection img {
  width: 300px;
  margin-bottom: 3rem;
}

html .section3 .subsection.one .ils1, body .section3 .subsection.one .ils1 {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 0rem;
  transform: translate(-50%, -50%);
  width: 14rem;
  opacity: 0.3;
}

html .section3 .subsection.second .ils1, body .section3 .subsection.second .ils1 {
  position: absolute;
  top: 2rem;
  z-index: 2;
  right: 0rem;
  transform: translate(50%, -50%);
  width: 14rem;
  opacity: 0.4;
}

html .section3 .subsection.three .ils1, body .section3 .subsection.three .ils1 {
  position: absolute;
  z-index: 2;
  top: 3rem;
  left: -1rem;
  transform: translate(-50%, -50%);
  width: 14rem;
  opacity: 0.3;
}

html .section4, body .section4 {
  background: #e2dacf;
  position: relative;
  padding: 3rem;
  padding-top: 0rem;
}

html .section4 .sheading, body .section4 .sheading {
  padding: 0.4rem 3rem;
}

html .section4 .ils2, body .section4 .ils2 {
  position: absolute;
  top: -2rem;
  z-index: 2;
  right: 0;
  transform: translate(50%, -50%);
  width: 14rem;
  opacity: 0.4;
}

html .section4 .nav-pills, body .section4 .nav-pills {
  justify-content: space-around;
}

html .section4 .nav-pills .nav-item, body .section4 .nav-pills .nav-item {
  margin: .5rem 1rem;
}

html .section4 .nav-pills .nav-item:first-child, body .section4 .nav-pills .nav-item:first-child {
  margin-left: 0rem;
}

html .section4 .nav-pills .nav-item .nav-link, body .section4 .nav-pills .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid #694F40;
  color: #694F40;
  border-radius: 50%;
}

html .section4 .nav-pills .nav-item .nav-link.active, body .section4 .nav-pills .nav-item .nav-link.active {
  background-color: #694F40 important;
  color: white;
  background: #694F40;
  transform: scale(1.06);
}

html .section4 .nav-pills .nav-item p, body .section4 .nav-pills .nav-item p {
  margin: 1rem 0rem;
  text-align: center;
}

html .section4 .tab-content, body .section4 .tab-content {
  background: #ffffff;
  /* background: linear-gradient(90deg, #e2dacf 0%, white 50%, #dfd7ca 100%); */
  padding: 2rem;
  border-radius: 20px;
  color: black;
  box-shadow: 2px 4px 10px -5px #41696963;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

html .section4 .tab-content .tab-pane h2, body .section4 .tab-content .tab-pane h2 {
  font-weight: 800;
  font-size: 40px;
  color: #694F40;
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid;
  text-transform: capitalize;
}

html .section4 .tab-content .tab-pane .item-div, body .section4 .tab-content .tab-pane .item-div {
  display: flex;
  font-size: 18px;
  -webkit-border-vertical-spacing: 108rem;
  justify-content: space-between;
  padding: 0.3rem 1.1rem;
  font-weight: 600;
}

html footer, body footer {
  width: 100%;
  background-color: #694F40;
  color: white;
}

html footer .upper, body footer .upper {
  padding: 3rem;
}

html footer .upper ul, body footer .upper ul {
  list-style-type: none;
}

html footer .upper ul li, body footer .upper ul li {
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
}

html footer .upper ul li:first-child, body footer .upper ul li:first-child {
  font-weight: bold;
  font-size: larger;
  border-bottom: 1px solid white;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  width: fit-content;
}

html footer .upper ul li i, body footer .upper ul li i {
  font-size: 22px;
  margin-right: 1rem;
}

html footer .lower, body footer .lower {
  background-color: #694F40;
}

@media (max-width: 767.98px) {
  body #navbar1 .logo-img {
    height: 60px;
  }
  body section.section3 {
    padding: 2rem;
  }
  body section.section3 .subsection {
    padding-bottom: 2rem !important;
  }
  body section.section3 .subsection.second .row {
    flex-direction: column-reverse;
  }
  body section.section3 .subsection p {
    margin-bottom: 2rem;
  }
  body section.section3 .subsection .heading {
    margin-bottom: 2rem  !important;
  }
  body section.section2 .clientFlex {
    flex-direction: column-reverse;
  }
  body section.section2 .clientFlex img {
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
  }
  body footer .upper {
    text-align: center;
    padding: 1rem 0rem;
  }
  body footer .upper ul li {
    justify-content: center;
  }
  body footer .upper ul li:first-child {
    margin: auto;
    margin-bottom: 1rem;
  }
  body footer .upper ul li i {
    font-size: 18px;
    margin-right: 1rem;
  }
  body footer .logo-img {
    margin: auto;
  }
  body .nav-wrapper ul {
    flex-wrap: nowrap;
    overflow-y: auto;
    width: 100%;
    justify-content: unset  !important;
    text-transform: capitalize;
  }
}

@media (max-width: 575.98px) {
  body .section4 .nav-pills .nav-item p {
    margin: .5rem 0rem;
    text-align: center;
  }
  body section.section3 .subsection p {
    font-size: 14px;
  }
  body section.section3 .subsection .heading {
    margin-bottom: 1rem  !important;
  }
  html section .sheading, body section .sheading {
    padding: 0.4rem 2rem  !important;
    margin-bottom: 1rem !important;
  }
  .section3 .subsection .heading {
    margin-bottom: 1rem  !important;
    letter-spacing: 5px  !important;
    padding-top: 1rem  !important;
    font-size: 38px  !important;
  }
  .section4 {
    padding: 1rem !important;
  }
  .section4 .sheading {
    margin-bottom: 1rem  !important;
    padding: 0.4rem 2rem !important;
  }
  .section4 .nav-pills .nav-item .nav-link {
    height: 50px !important;
    width: 50px !important;
  }
  .section4 .nav-pills .nav-item .nav-link i {
    font-size: 22px !important;
  }
  .section4 .tab-content {
    padding: 1rem 1.5rem !important;
  }
  .section4 .tab-content .tab-pane h2 {
    font-size: 25px !important;
  }
  .section4 .tab-content .tab-pane .item-div {
    font-size: 14px !important;
    padding: 0.1rem .6rem !important;
  }
  .section2 {
    padding: 1rem  !important;
  }
  .section2 .clientFlex img {
    width: 250px  !important;
    height: 250px  !important;
    margin-bottom: 1rem  !important;
  }
  .section2 .clientFlex .name {
    font-size: 26px !important;
  }
  .section2 .clientFlex p {
    font-size: 14px !important;
  }
  .section3 {
    padding: 1rem  !important;
  }
  .section1 .row-div .ils1 {
    opacity: 0.4 !important;
  }
  .section1 .row-div .ils2 {
    opacity: 0.2 !important;
  }
  .section1 .row-div .wrapper .booking-btn {
    background-color: #416969;
    color: white;
    font-size: medium;
  }
  .section1 .row-div .wrapper h1 {
    font-size: 48px  !important;
  }
  .section1 .row-div .wrapper p {
    font-size: 15px  !important;
  }
  footer {
    font-size: 12px;
  }
}
