*{
    
    box-sizing: border-box;
   
    
    
}
@font-face {
    font-family: 'Amsterdam';
    src: url('../fonts/Amsterdam-ZVGqm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$pc:#416969;
$sc:#694F40;
html,body{
    font-family: 'Roboto', sans-serif  !important;
    overflow-x:hidden;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(227,227,227,1) 100%);
   
    #navbar1{
        background-color: transparent;
        color:black;
        z-index: 2;
        .logo-img{
            height: 70px;
        }
       
        &.sticky {
            position: fixed;
            top: 0;
            margin-bottom: 100px;
            width: 100%;
            background-color: #416969;
            color:white;
            a{
                color:white !important
            }
          }
    }
    .addpd{
        margin-top: 300px;
    }
    section{
        .sheading{
            text-align: center;
            padding: 0.4rem 10rem;
            margin: auto;
            margin-bottom: 1rem;
            color: white;
            background-color: $pc;
            width: fit-content;
            border-radius: 2rem;
            h1{
                margin: 0px;
            }
            &.brown{
                background-color:$sc ;
            }

        }
    }
    .section1{
        .bg2{
            position: absolute;
            height:150px;
            z-index: 1;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(227,227,227,1) 100%);
            width: 100%;
           
        }
        
        padding: 0rem;
        position: relative;
        background: rgb(226,218,207);
        background: linear-gradient(90deg, rgba(226,218,207,1) 0%, rgba(255,255,255,1) 50%, rgba(223,215,202,1) 100%);
       
        
        
        .row-div{
            background-image: url("../media/images/main-2.png");
            background-repeat: no-repeat;
            background-position-x: 24%;
            padding: 10rem 0rem 13rem;
            z-index: 2;
            background-position-y: 25%;

        h1{
            color:$pc;
            margin-bottom: 1rem;
           // font-size: 100px;
           font-family: 'Amsterdam', sans-serif !important;
           line-height: 7rem;
           letter-spacing: 9px;
           
        
        }
        .ils1{
                    
                position: absolute;
                z-index: 2;
                top: -6rem;
                left: 0rem;
                transform: translate(-50%, 50%);
                width: 14rem;
                opacity: 0.7;
            
                }
        .ils2{
            
            position: absolute;
            top: -4rem;
            z-index: 2;
            right: -9rem;
            transform: translate(-50%, 50%);
            width: 14rem;
            opacity: 0.9;
        
            }
            
        }
        
        
        .booking-btn{
            background-color: $pc;
            color:white;
        }
        
       
    }
    .section2{
        background: rgb(226,218,207);
        position: relative;
        padding: 3rem;
        padding-top:0rem;
        background: linear-gradient(90deg, rgba(226,218,207,1) 0%, rgba(255,255,255,1) 50%, rgba(223,215,202,1) 100%);
        .ils1{
                    
                position: absolute;
                z-index: 2;
                top: -6rem;
                left: 0rem;
                transform: translate(-50%, 50%);
                width: 14rem;
                opacity: 0.7;
            
                }
        .ils2{
            
            position: absolute;
            bottom: -2rem;
            z-index: 2;
            right: 0;
            transform: translate(50%,-50% );
            width: 14rem;
            opacity: 0.9;
        
            }
        .clientFlex{
            display: flex;
           
            img{
                width: 500px;
                height: 500px;
                border-radius: 50%;
                box-shadow: 3px 5px 11px -2px #817f7f;
            }
        }
        .heading{
            text-align: center;
            padding: 0.4rem 10rem;
            margin: auto;
            color: white;
            background-color: $pc;
            width: fit-content;
            border-radius: 2rem;
            h1{
                margin: 0px;
            }

        }
    }
    .section3{
        padding: 0rem;
        position: relative;
        padding-bottom: 1rem;
        background: rgb(226,218,207);
        background: linear-gradient(90deg, rgba(226,218,207,1) 0%, rgba(255,255,255,1) 50%, rgba(223,215,202,1) 100%);
        .subsection{
            padding-bottom: 3rem;
            position: relative;
            .heading{
                margin-bottom: 3rem;
                letter-spacing: 9px;
                padding-top: 1rem;
                z-index: 3;
                color: $pc;
                font-family: 'Amsterdam', sans-serif !important;
            }
            img{
                width: 300px;
                margin-bottom: 3rem;
            }
            &.one{
                
                .ils1{
                    
                        position: absolute;
                        z-index: 2;
                        top: -2rem;
                        left: 0rem;
                        transform: translate(-50%, -50%);
                        width: 14rem;
                        opacity: 0.7;
                    
                       
                }
            }
            &.second{
                .ils1{
            
                    position: absolute;
                    top: 2rem;
                    z-index: 2;
                    right: 0rem;
                    transform: translate(50%, -50%);
                    width: 14rem;
                    opacity: 0.9;
                
                    }
                h2{
                    text-align: end;
                }
                p{
                    text-align: end;
                }

            }
            &.three{
                .ils1{
                    
                    position: absolute;
                        z-index: 2;
                        top: 3rem;
                        left: -1rem;
                        transform: translate(-50%, -50%);
                        width: 14rem;
                        opacity: 0.7;
                
                    }
            }
        }
    }
    .section4{
        background: rgb(226,218,207);
        position: relative;
        padding: 3rem;
        padding-top:0rem;
        background: linear-gradient(90deg, rgba(226,218,207,1) 0%, rgba(255,255,255,1) 50%, rgba(223,215,202,1) 100%);
        .ils2{
            
            position: absolute;
            top: -2rem;
            z-index: 2;
            right: 0;
            transform: translate(50%,-50% );
            width: 14rem;
            opacity: 0.9;
        
            }
            .nav-pills{
                justify-content: space-around;
                .nav-item{
                    margin:0 1rem;
                    &:first-child{
                        margin-left: 0rem;
                    }
                    .nav-link{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 60px;
                        width: 60px;
                        border:1px solid $sc;
                        color:$sc;
                        border-radius: 50%;
                        i{
                            font-size: 30px;
                        }
                        &.active{
                            background-color: $sc important;
                            color:white;
                            background: $sc;
                            transform: scale(1.06);
                            
                        }
                                              
                    
                    } 
                    p{
                        margin: 1rem 0rem;
                    } 
                }
            }
            .tab-pane{
                .card-wrapper{
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    overflow-x: auto;
                    .card{
                        width: 300px;
                        min-width: 300px;
                        margin-right: 1rem;
                        
                    }
                }
            }
           
    }
}